/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Encabezado */
header {
  background-color: #252850;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  position: relative; /* Agregado para corregir el problema de superposición */
  z-index: 1; /* Agregado para corregir el problema de superposición */
}

h1 {
  font-size: 28px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Sección */
.section {
  padding: 60px;
  text-align: center;
}

/* Contenido centrado */
.centered {
  text-align: center;
}

/* Animación de desplazamiento suave para los enlaces */
nav ul li a {
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #e74c3c;
}

/* Animación de resaltado al pasar el mouse por encima del botón flotante */
.floating-button button:hover {
  background-color: #e74c3c;
}

/* Animación de aparición para el botón flotante */
.floating-button {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.floating-button.active {
  opacity: 1;
  transform: translateY(0);
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  /* ... (otros estilos) ... */

  /* Recuadro para la descripción sobre nosotros en versión móvil */
  .about-info {
    /* ... (otros estilos) ... */
    border: 1px solid #ccc; /* Agregar borde de 1px sólido */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agregar sombreado */
  }

  /* Estilo para la imagen del logotipo en versión móvil */
  .logo-image {
    /* ... (otros estilos) ... */
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

/* Estilos para el encabezado gris en versión de escritorio */
@media screen and (min-width: 769px) {
  /* ... (otros estilos) ... */

  /* Recuadro para la descripción sobre nosotros en versión de escritorio */
  .about-info {
    /* ... (otros estilos) ... */
    border: 1px solid #ccc; /* Agregar borde de 1px sólido */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agregar sombreado */
  }

  /* Estilo para la imagen del logotipo en versión de escritorio */
  .logo-image {
    /* ... (otros estilos) ... */
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

/* Estilos para los textos de abajo */
footer {
  text-align: center;
  padding: 10px;
  color: #333;
}
