/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* ... Estilos anteriores ... */

/* Estilos para el menú de hamburguesa en dispositivos móviles */
.menu-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 2px 0;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  /* ... Estilos anteriores para dispositivos móviles ... */

  /* Estilos para el botón flotante en dispositivos móviles */
  .floating-button {
    bottom: 20px;
    right: 20px;
  }
}
